<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SafeGuard Solutions</title>
</head>
<body>
  <image src="../static/Logo.png" />
  <h1>Location # {{intersection.id}}</h1>
  <h2>Train Car Velocity:</h2>
  <p id="carVelocity">{{ intersection.car_velocity }} in/ms</p>

  <h2>Hold Time:</h2>
  <p id="holdTime">{{ intersection.hold_time }} ms</p>

  <h2>Car Block Time:</h2>
  <p id="carPhase">{{ intersection.car_phase }} ms</p>

  <h2>Train Car Width:</h2>
  <p id="carWidth">{{ intersection.car_width }} in</p>

  <h2>Train Block Time:</h2>
  <p id="trainBlockTime">{{ intersection.train_block_time }} ms</p>

  <h2>Last Update Epoch</h2>
  <p id="lastUpdateEpoch">{{ intersection.last_update_epoch }}</p>

  <script>
    async function fetchLatestData() {
      try {
        const response = await fetch(`/data/1`);
        if (!response.ok) {
          throw new Error("Failed to fetch data");
        }

        const data = await response.json();

        // Update the DOM with the latest data
        document.getElementById("carVelocity").innerText = data.car_velocity + " in/ms";
        document.getElementById("holdTime").innerText = data.hold_time + " ms";
        document.getElementById("carPhase").innerText = data.car_phase + " ms";
        document.getElementById("carWidth").innerText = data.car_width + " in";
        document.getElementById("trainBlockTime").innerText = data.train_block_time + " ms";
        document.getElementById("lastUpdateEpoch").innerText = data.last_update_epoch;

      } catch (error) {
        console.error("Error fetching latest data:", error);
      }
    }

    // Fetch new data every second
    setInterval(fetchLatestData, 500);
  </script>
  </body>
</html>

  
